h1{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
}

.minhaHome {
    height: 550px;
    display: flex;
    justify-content: center;
    align-items: center;
}